.footer{
    padding: 30px 4%;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-icons{
    display: flex;
    gap: 20px;
    margin: 40px 0;
   align-items: center;
   justify-content: center;
}

.footer-icons img{
    width: 30px;
    cursor: pointer;
 
}
.footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-bottom: 30px;
    list-style: none;
}

.copyright-text{
    color: gray;
    font-size: 14px;
    text-align: center;

}

/* ================= RESPONSIVE FOOTER ================= */

@media (max-width: 1024px) {
  .footer {
    padding: 30px 6%;
  }

  .footer ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 25px 5%;
  }

  .footer-icons {
    justify-content: center;
    margin: 30px 0;
  }

  .footer-icons img {
    width: 26px;
  }

  .footer ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .copyright-text {
    text-align: center;
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px
  }
}

