
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
  margin: 0;
  background-color: #141414;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
